/* GENERAL */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  width: 100%;
  background-color: #FFFFFF;
}

body li {
  list-style-type: none;
  text-decoration: none;
}

body .section-title, body .description-title {
  font-family: "Cairo", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  padding: 0;
  margin: 0;
}

body .section-subtitle, body .description-text-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  color: #707070;
}

body .description-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* HEADER */
header nav {
  position: absolute;
  z-index: 10;
  width: 100%;
  color: #FFFFFF;
}

header nav .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .nav-buttons .nav-left {
  margin: 20px 278px;
  position: relative;
  width: 100%;
}

header nav .nav-buttons .nav-left img {
  position: absolute;
  right: 0px;
}

header nav .nav-buttons .nav-left a {
  text-decoration: none;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  font-weight: 700px;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 33px;
}

header nav .nav-buttons .nav-left a.first {
  margin-right: 60px;
}

header nav .nav-buttons .nav-left a:hover {
  cursor: pointer;
}

header nav hr {
  margin: 12px 357px 10px 278px;
}

header nav p {
  margin: 12px 357px 10px 278px;
  position: absolute;
  right: 0px;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

header nav p span {
  font-weight: 700;
}

header .slider-middle {
  color: #FFFFFF;
  position: absolute;
  z-index: 100;
  padding: 340px 0 334px 278px;
}

header .slider-middle h1 {
  font-family: "Cairo", sans-serif;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  padding: 28px 0;
}

header .slider-middle p {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

header .background-image {
  position: relative;
}

header .black-background {
  position: absolute;
  top: 0px;
  left: 0px;
}

header .carousel-indicators {
  position: absolute;
  margin: 0 0 86px 278px;
  bottom: 0;
  left: 0;
  padding: 0;
  right: auto;
}

header .carousel-indicators li {
  height: 5px;
  width: 60px;
  background-color: #FFFFFF;
  opacity: 1;
}

header .carousel-indicators .active {
  background-color: #3369D3;
}

header button {
  text-transform: uppercase;
  border: none;
  background-color: #3369D3;
  height: 63px;
  width: 372px;
  color: #FFFFFF;
  position: absolute;
  bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin: 0 0 60px 774px;
  bottom: 0;
  left: 0;
  padding: 0;
  right: auto;
}

/* AUTO DESSCRIPTION */
.facts {
  padding: 180px 80px 60px 80px;
}

.facts .description-column-left {
  position: relative;
}

.facts .description-column-left .facts-bigger {
  position: absolute;
  top: 0;
  right: 0;
}

.facts .description-column-left .facts-smaller {
  position: absolute;
  left: 0;
  bottom: 0;
}

.facts .description-column-right {
  padding: 8px 98px 97px 154px;
}

.facts .description-column-right .description-title {
  margin-bottom: 30px;
}

.facts .description-column-right .description-icon {
  height: 24px;
  margin: 0 0 8px 3px;
}

.facts .description-column-right .facts-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.facts .description-column-right .facts-columns .fact-column {
  max-width: 191.87px;
  margin-right: 30px;
}

.facts .description-column-right .facts-columns .fact-column .number {
  font-family: "Cairo", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
}

.facts .description-column-right .facts-columns .col-third, .facts .description-column-right .facts-columns .col-fifth {
  margin-right: 0px;
}

.facts .description-column-right .back-underline {
  z-index: 1;
  left: 0;
  position: relative;
  float: left;
}

.facts .description-column-right .front-underline {
  z-index: 2;
  left: 0;
  position: relative;
  float: left;
}

.bigger {
  max-height: 536px;
  max-width: 536px;
}

.smaller {
  max-height: 320px;
  max-width: 320px;
}

.aerodynamics {
  padding: 60px 80px 189px 80px;
}

.aerodynamics .description-column-left {
  padding: 131px 154px 41px 198px;
}

.aerodynamics .description-column-left .description-icon {
  height: 20px;
  margin-bottom: 13px;
}

.aerodynamics .description-column-left .description-text-subtitle {
  padding: 45px 0 30px 0;
}

.aerodynamics .description-column-right {
  position: relative;
}

.aerodynamics .description-column-right .aerodynamics-bigger {
  position: absolute;
  bottom: 0;
  left: 0;
}

.aerodynamics .description-column-right .aerodynamics-smaller {
  position: absolute;
  top: 0;
  right: 0;
}

.description-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* IMAGE GALLERY */
.image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.image-gallery .image-container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.image-gallery .image-container .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  grid-auto-flow: dense;
      grid-template-areas: 'img-1 img-1 img-1 img-1 img-1 img-1 img-2 img-2 img-3 img-3 img-3 img-3' 'img-1 img-1 img-1 img-1 img-1 img-1 img-4 img-4 img-4 img-5 img-5 img-5';
}

.image-gallery .image-container .gallery a {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.image-gallery .image-container .gallery a .gallery-icon {
  color: #FFFFFF;
  font-size: 30px;
  position: relative;
  z-index: 1;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 7px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.image-gallery .image-container .gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.image-gallery .image-container .gallery a:hover .gallery-icon, .image-gallery .image-container .gallery a:hover::before {
  opacity: 1;
}

.image-gallery .image-container .gallery .img-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: img-1;
  min-height: 630px;
  background-image: url("/images/gallery/img-1.svg");
}

.image-gallery .image-container .gallery .img-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-area: img-2;
  background-image: url("/images/gallery/img-2.svg");
}

.image-gallery .image-container .gallery .img-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: img-3;
  background-image: url("/images/gallery/img-3.svg");
}

.image-gallery .image-container .gallery .img-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: img-4;
  background-image: url("/images/gallery/img-4.svg");
}

.image-gallery .image-container .gallery .img-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: img-5;
  background-image: url("/images/gallery/img-5.svg");
}

/* CONTACT FORM */
.contact-form {
  height: 1350px;
  width: 100%;
  position: relative;
}

.contact-form .form-area {
  padding: 90px;
  margin: 0;
  position: absolute;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.07);
          box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.07);
  z-index: 3;
}

.contact-form p {
  padding: 0;
  margin: 0;
}

.contact-form .form-intro {
  padding-bottom: 90px;
  width: 632px;
}

.contact-form .form-text {
  padding-top: 15px;
}

.contact-form .form-text :nth-child(2) {
  padding-top: 10px;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 506px;
}

.contact-form form :nth-child(6) {
  margin: 0;
}

.contact-form form .gender-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px 0;
  height: 27px;
}

.contact-form form .gender-radio :nth-child(2) {
  margin-right: 30px;
}

.contact-form form .gender-radio input[type=radio] {
  height: 22px;
  width: 22px;
  margin: 5px 0 0 0;
}

.contact-form form .gender-radio label {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 27px;
  margin-left: 10px;
}

.contact-form form .form-title {
  font-family: "Cairo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  color: #000000;
}

.contact-form form input {
  width: 506px;
  height: 52px;
  border: 1px solid rgba(112, 112, 112, 0.25);
  padding-left: 22px;
  margin-bottom: 30px;
}

.contact-form form input:focus {
  outline: none;
}

.contact-form .form-button {
  color: #FFFFFF;
  background-color: #3369D3;
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  line-height: 33px;
  font-weight: 600;
  height: 63px;
  width: 243px;
  border: none;
  margin-top: 60px;
}

.form-button:hover, .slider-button:hover {
  background-color: #2a57b0;
}

.form-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.car-left {
  z-index: 2;
  position: relative;
  top: 702px;
  left: 248px;
}

.car-right {
  z-index: 2;
  position: relative;
  top: 344px;
}

.tr-top-left {
  z-index: 1;
}

.tr-bottom {
  z-index: 1;
}

.tr-right {
  z-index: 1;
}

/* FOOTER */
footer {
  background-color: #E6E6E6;
  color: #707070;
  height: 488px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 279px 30px 278px;
}

footer .footer-container .footer-social .social-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  padding: 9px 30px 3px 0px;
  margin: 0;
}

footer .footer-container .footer-social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 240px;
  height: 32px;
}

footer .footer-container .footer-social .social-icons .social-link {
  height: 32px;
  width: 32px;
}

footer .footer-container .footer-underline {
  border: 1px solid #BEBEBE;
  padding: 0;
  margin: 0 279px 0 278px;
}

footer .footer-container .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 475px 120px 278px;
  margin: 0;
}

footer .footer-container .footer-wrapper .wrapper-column {
  width: 339px;
  height: 151px;
}

footer .footer-container .footer-wrapper .wrapper-column .column-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

footer .footer-container .footer-wrapper .wrapper-column .column-list {
  padding: 0;
  height: 101px;
  position: bottom;
  padding-top: 30px;
}

footer .footer-container .footer-wrapper .wrapper-column .column-list .column-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 28px;
  color: #707070;
  font-family: "Roboto", sans-serif;
}

footer .footer-bottom {
  background-color: #FFFFFF;
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 278.5px;
}

footer .footer-bottom span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #4E4E4E;
  line-height: 24px;
}

/* OVERLAY */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 50%;
  bottom: 0;
  background-color: #010002;
  opacity: 0.9;
  z-index: 99999;
  display: none;
}

.overlay .popup {
  display: block;
}

.overlay .popup .popup-text {
  margin: 0;
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overlay .popup .popup-text p {
  padding: 10px 0 60px 0;
  text-align: center;
}

.overlay .popup .popup-text h1 {
  font-family: "Cairo", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.overlay .popup .popup-text .close-button {
  color: #FFFFFF;
  background-color: #3369D3;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  height: 46px;
  width: 138px;
  border: none;
}
/*# sourceMappingURL=style.css.map */