$font-one: 'Open Sans', sans-serif;
$font-two: 'Roboto', sans-serif;
$font-three: 'Cairo', sans-serif;
$color-one: #4E4E4E;
$color-two: #707070;
$color-three: #BEBEBE;
$color-four: #FFFFFF;
$color-five: #E6E6E6;
$color-six: #000000;
$color-seven: #010002;
$button-color: #3369D3;


/* GENERAL */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1920px;
    width: 100%;
    background-color: $color-four;
    li {
        list-style-type: none;
        text-decoration: none;
    }
    .section-title, .description-title {
        font-family: $font-three;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        padding: 0;
        margin: 0;
    }
    .section-subtitle, .description-text-subtitle {
        font-family: $font-one;
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        color: $color-two;
    }
    .description-text {
        font-family: $font-one;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}


/* HEADER */

header {
    nav {
        position: absolute;
        z-index: 10;
        width: 100%;
        color: $color-four;
        .nav-buttons {
            display: flex;
            flex-direction: row;
            .nav-left {
                margin: 20px 278px;
                position: relative;
                width: 100%;
                img {
                    position: absolute;
                    right: 0px;
                }
                a {
                    text-decoration: none;
                    font-family: $font-three;
                    font-size: 18px;
                    font-weight: 700px;
                    color: $color-four;
                    cursor: pointer;
                    line-height: 33px;
                }
                a.first {
                    margin-right: 60px;
                }
                a:hover {
                    cursor: pointer;
                }
            }  
        }
        hr {
            margin: 12px 357px 10px 278px;
        }  
        p {
            margin: 12px 357px 10px 278px;
            position: absolute;
            right: 0px;
            font-family: $font-three;
            font-size: 16px;
            line-height: 30px;
            span {
                font-weight: 700;
            }
        }
    }
    .slider-middle {
        color: $color-four;
        position: absolute;
        z-index: 100;
        padding: 340px 0 334px 278px;
        h1 {
            font-family: $font-three;
            font-size: 64px;
            line-height: 64px;
            font-weight: 700;
            padding: 28px 0;
        }
        p {
            font-family: $font-three;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }
    }
    .background-image {
        position: relative;
    }
    .black-background {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .carousel-indicators {
        position: absolute;
        margin: 0 0 86px 278px;
        bottom: 0;
        left: 0;
        padding: 0;
        right: auto;
        li {
           height: 5px;
           width: 60px;
           background-color: $color-four;
           opacity: 1;
        }.active{
            background-color: $button-color;
        }
    }
    button {
        text-transform: uppercase;
        border: none;
        background-color: $button-color;
        height: 63px;
        width: 372px;
        color: $color-four;
        position: absolute;
        bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        margin: 0 0 60px 774px;
        bottom: 0;
        left: 0;
        padding: 0;
        right: auto;
    }
}




/* AUTO DESSCRIPTION */ 

.facts {
    padding: 180px 80px 60px 80px;
    .description-column-left {
        position: relative;
        .facts-bigger {
            position: absolute;
            top: 0;
            right: 0;
        }
        .facts-smaller {
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    .description-column-right {
        padding: 8px 98px 97px 154px;
        .description-title {
            margin-bottom: 30px;
        }
        .description-icon {
            height: 24px;
            margin: 0 0 8px 3px;
        }
        .facts-columns {
            display: flex;
            flex-wrap: wrap;
            .fact-column {
                max-width: 191.87px;
                margin-right: 30px;
                .number {
                    font-family: $font-three;
                    font-size: 12px;
                    font-weight: 700;
                    color: $color-six;
                }
            }
            .col-third, .col-fifth {
                margin-right: 0px;
            }
        }
        .back-underline {
            z-index: 1;
            left: 0;
            position: relative;
            float: left;
        }
        .front-underline {
            z-index: 2;
            left: 0;
            position: relative;
            float: left;
        }
    }
}
.bigger {
    max-height: 536px;
    max-width: 536px;
}
.smaller {
    max-height: 320px;
    max-width: 320px;
}

.aerodynamics {
    padding: 60px 80px 189px 80px;
    .description-column-left {
        padding: 131px 154px 41px 198px;
        .description-icon {
            height: 20px;
            margin-bottom: 13px;
        }
        .description-text-subtitle {
            padding: 45px 0 30px 0;
        }
    }
    .description-column-right {
        position: relative;
        .aerodynamics-bigger {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .aerodynamics-smaller {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
.description-row {
    display: flex;
}


/* IMAGE GALLERY */

.image-gallery {
    display: flex;
    margin: 0 10px;
    .image-container {
        width: 100%;
        max-width: 1920px;
        margin: auto;
        .gallery {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto;
            grid-gap: 10px;
            grid-auto-flow: dense;
            grid-template-areas: 
                'img-1 img-1 img-1 img-1 img-1 img-1 img-2 img-2 img-3 img-3 img-3 img-3'
                'img-1 img-1 img-1 img-1 img-1 img-1 img-4 img-4 img-4 img-5 img-5 img-5';
            a {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                .gallery-icon {
                    color: $color-four;
                    font-size: 30px;
                    position: relative;
                    z-index: 1;
                    padding: 10px;
                    border: 2px solid rgba(255, 255, 255, .6); 
                    border-radius: 7px;
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
            a::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, .8);
                opacity: 0;
                transition: opacity .5s;
            }
            a:hover .gallery-icon, a:hover::before {
                opacity: 1;
            }
            .img-1 {
                grid-area: img-1;
                min-height: 630px;
                background-image: url("/images/gallery/img-1.svg");
            }
            .img-2 {
                grid-area: img-2;
                background-image: url("/images/gallery/img-2.svg");
            }
            .img-3 {
                grid-area: img-3;
                background-image: url("/images/gallery/img-3.svg");
            }
            .img-4 {
                grid-area: img-4;
                background-image: url("/images/gallery/img-4.svg");
            }
            .img-5 {
                grid-area: img-5;
                background-image: url("/images/gallery/img-5.svg");
            }
        }
    }
}


/* CONTACT FORM */

.contact-form {
    height: 1350px;
    width: 100%;
    position: relative;
    .form-area {
        padding: 90px;
        margin: 0;
        position: absolute;
        background-color: $color-four;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.07);
        z-index: 3;
    }
    p {
        padding: 0;
        margin: 0;
    }
    .form-intro {
        padding-bottom: 90px;
        width: 632px;
    }
    .form-text {
        padding-top: 15px;
        :nth-child(2) {
            padding-top: 10px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        width: 506px;
        :nth-child(6) {
            margin: 0;
        }
        .gender-radio {
            display: flex;
            flex-direction: row;
            margin: 30px 0;
            height: 27px;
            :nth-child(2) {
                margin-right: 30px;
            }
            input[type=radio] {
                height: 22px;
                width: 22px;
                margin: 5px 0 0 0;
            }
            label {
                font-family: $font-one;
                font-size: 20px;
                line-height: 27px;
                margin-left: 10px;
            }
        }
        .form-title {
            font-family: $font-three;
            font-size: 20px;
            font-weight: 600;
            line-height: 40px;
            color: $color-six;
        }
        input {
            width: 506px;
            height: 52px;
            border: 1px solid rgba(112, 112, 112, 0.25);
            padding-left: 22px;
            margin-bottom: 30px;
            &:focus {
                outline: none;
            }
        }
    }
    .form-button {
        color: $color-four;
        background-color: $button-color;
        font-family: $font-three;
        font-size: 18px;
        line-height: 33px;
        font-weight: 600;
        height: 63px;
        width: 243px;
        border: none;
        margin-top: 60px;
    }
    
}
.form-button:hover , .slider-button:hover {
    background-color: #2a57b0;
}

.form-background {
    display: flex;
    flex-direction: row;
}
.car-left {
    z-index: 2;
    position: relative;
    top: 702px;
    left: 248px;
}
.car-right {
    z-index: 2;
    position: relative;
    top: 344px;
}
// .tr-bottom-left {
    // z-index: 1;
    // position: relative;
    // top: 559px;
    // left: 198px;
// }
.tr-top-left {
    z-index: 1;
}
.tr-bottom {
    z-index: 1;
}
.tr-right {
    z-index: 1;
}


/* FOOTER */

footer {
    background-color: $color-five;
    color: $color-two;
    height: 488px;
    .footer-container {
        display: flex;
        flex-direction: column;
        .footer-social {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 30px 279px 30px 278px;
            .social-title {
                font-family: $font-two;
                font-size: 20px;
                font-weight: 300;
                line-height: 24px;
                padding: 9px 30px 3px 0px;
                margin: 0;
            }
            .social-icons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                width: 240px;
                height: 32px;
                .social-link {
                    height: 32px;
                    width: 32px;
                }
            }
        }
        .footer-underline {
            border: 1px solid $color-three; 
            padding: 0;
            margin: 0 279px 0 278px;
        }
        .footer-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 64px 475px 120px 278px;
            margin: 0;
            .wrapper-column {
                width: 339px;
                height: 151px;
                .column-title {
                    font-family: $font-two;
                    font-size: 20px;
                    font-weight: 300;
                }
                .column-list {
                    padding: 0;
                    height: 101px;
                    position: bottom;
                    padding-top: 30px;
                    .column-link {
                        font-size: 14px;
                        font-weight: bold;
                        text-decoration: none;
                        line-height: 28px;
                        color: $color-two;
                        font-family: $font-two;
                    }
                }
            }
        }
    }
    .footer-bottom {
        background-color: $color-four;
        height: 61px;
        display: flex;
        align-items: center;
        padding: 0 278.5px;
        span {
            font-family: $font-one;
            font-size: 14px;
            color: $color-one;
            line-height: 24px;
        }
    }
}


/* OVERLAY */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 50%;
    bottom: 0;
    background-color: #010002;
    opacity: 0.9;
    z-index: 99999;
    display: none;
    .popup {
        display: block;
        .popup-text {
            margin: 0;
            color: $color-four;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            p {
                padding: 10px 0 60px 0;
                text-align: center;
            }
            h1 {
                font-family: $font-three;
                font-size: 24px;
                font-weight: 700;
                line-height: 28px;
                text-transform: uppercase;
            }
            .close-button {
                color: $color-four;
                background-color: $button-color;
                font-family: $font-three;
                font-size: 14px;
                line-height: 26px;
                font-weight: 600;
                height: 46px;
                width: 138px;
                border: none;
            }
        }
    }
}